<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">

    <title>База данных</title>
  </head>
  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Главная</a>
  <a class="navbar-brand" href="#">Клиенты</a>
  <a class="navbar-brand" href="#">Поставщики</a>
  <a class="navbar-brand" href="#">Войти</a>
 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  
</nav>


    <h1>Главная сраница база данных клиентов и поставщиков</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js" "></script>
    <script src="../static/js/bootstrap/bootstrap.js"> </script>
  </body>
</html>