<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.css">

    <title>Список студентов</title>
  </head>
  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">Главная</a>
  <a class="navbar-brand" href="#">Клиенты</a>
  <a class="navbar-brand" href="#">Поставщики</a>
  <a class="navbar-brand" href="student_list.html">Студенты</a>
  <a class="navbar-brand" href="contact.html">Contacts</a>
  <a class="navbar-brand" href="#">Войти</a>  
 
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Ищу" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  
</nav>


   

    <div class="container" >
      <div class="row">
      	 <h2>Студент: Бакулин Алексей</h2>
      </div>	
      <div class="row">
        <div class="col-sm-8 offset-sm-1">

		    <table class="table">
			  <tbody>
			    <tr><td>Фамилия</td> <td> Бакулин</td></tr>
			    <tr><td>Имя</td>     <td> Алексей</td></tr>	
			    <tr><td>Очество</td> <td> Владимирович</td></tr>
			    <tr><td>Email</td>   <td> bakulinal@mail.ru</td></tr>
			    <tr><td>адресс</td>  <td> Саратовкая обл., р.п. Базарыный Карабулак, ул. Победы д 12.</td></tr>
			  </tbody>
			</table>

        </div>        
      </div>
     </div>

    
 
   
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js" "></script>
    <script src="../static/js/bootstrap/bootstrap.js"> </script>
  </body>
</html>